SCHEMATIC START ;
// created by map version G.26 on Tue Oct 22 16:58:46 2019 
COMP "clk" LOCATE =  SITE "T9" LEVEL 1; 
COMP "rgb<0>" LOCATE =  SITE "R11" LEVEL 1; 
COMP "rgb<1>" LOCATE =  SITE "T12" LEVEL 1; 
COMP "rgb<2>" LOCATE =  SITE "R12" LEVEL 1; 
COMP "hsync" LOCATE =  SITE "R9" LEVEL 1; 
COMP "vsync" LOCATE =  SITE "T10" LEVEL 1; 
COMP "reset" LOCATE =  SITE "F12" LEVEL 1; 
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT ;
NET "clk_BUFGP/IBUFG" PERIOD =  20 nS   HIGH 50.000000 % ;
SCHEMATIC END ;
